/************************************************************/
/**************************** MENY **************************/
/************************************************************/
.main-menu {
  //Menyknappen
  .button_container {
    position: fixed;
    top: 2%;
    right: 2%;
    height: 25px;
    width: 35px;
    z-index: 100000;

    //När man klickar på hamburge-menyn förvandlas den till ett kryss mha animationen nedan
    &.active {
      .top {
        -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
        -moz-transform: translateY(11px) translateX(0) rotate(45deg);
        -o-transform: translateY(11px) translateX(0) rotate(45deg);
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: white;
      }
      .middle {
        opacity: 0;
        background: white;
      }
      
      .bottom {
        -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
        -moz-transform: translateY(-11px) translateX(0) rotate(-45deg);
        -o-transform: translateY(-11px) translateX(0) rotate(-45deg);  
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: white;
      }
    }
    
    //styleing för "pinnarna" i hamburgemenyn/krysset
    span {
      background: black;
      border: none;
      height: 4px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: all .10s ease; /* Safari */
      -moz-transition: all .10s ease; /* Safari */
      -o-transition: all .10s ease; /* Safari */
      transition: all .10s ease; //animerar övergången från burger/kryss    

      //mellanrumet för pinnarna i menyn
      &:nth-of-type(2) {
        top: 11px;
      }
      
      &:nth-of-type(3) {
        top: 22px;
      }
    }
  }

  .menu {    
    //Bakgrund för menyn
    .overlay {
      position: fixed;
      background: black;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity .10s, visibility .10s, height .10s;
      -moz-transition: opacity .10s, visibility .10s, height .10s;
      -o-transition: opacity .10s, visibility .10s, height .10s;
      transition: opacity .10s, visibility .10s, height .10s;
      overflow: hidden;
      
      //när man har klickat på menyknappen får 'overlay' nya värden
      &.open {
        opacity: 0.9;
        visibility: visible;
        height: 100%;
        
        //Fadear in alla li från höger. Alla li har olika delay
        li {
          -webkit-animation: fadeInRight .05s ease forwards;
          animation: fadeInRight .05s ease forwards;
          -webkit-animation-delay: .10s;
          animation-delay: .10s;
          
          &:nth-of-type(2) {
            -webkit-animation-delay: .1s;
            animation-delay: .1s;
          }
          &:nth-of-type(3) {
            -webkit-animation-delay: .12s;
            animation-delay: .12s;
          }
          &:nth-of-type(4) {
            -webkit-animation-delay: .14s;
            animation-delay: .14s;
          }
        }
      }
      nav {
        position: relative;
        height: 70%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 20px;
        font-weight: 400;
        text-align: center;
      }
      ul {
        background: black;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%; 
        
        li {
          color: white;
          display: block;
          height: 10%;
          position: relative;
          opacity: 0;
          
          a {
            display: block;
            padding-bottom: 10%;
            position: relative;
            color: white;
            text-decoration: none;
            overflow: hidden;
          }
        }
      }
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
} 

/************************************************************/
/*************************** HEADER *************************/
/************************************************************/
header {
    h1 {
    padding-top: 150px;
  }
}
/************************************************************/
/************************* FRONTPAGE ************************/
/************************************************************/
.wrapper{  
  .about{
    img {
      width: 50%;
    }

    .content {
      width: 80%;
       
      .images-about{
        width: 100%;
              
        .image-about{
          margin: 0 auto;
          width: 70%;
          
          img{
            width: 100%;
          }
        }
      }
    }
  }
  
  .what-i-do {
    .content {
      width: 60%;
    }
  }
  
  .projects {
    button {
      background: black;
      margin-bottom: 1em;
    }
    
    .content {
      margin: 0 auto;
      width: 70%;
      
      img {
        margin-bottom: 5em;
      }
    }
  }
}

/************************************************************/
/********************** SINGLE-PROJECT **********************/
/************************************************************/
.single-project-wrapper {
  margin: 0 auto;
  padding-top: 10%;   

  .single-project-content {
    width: 90%;
    
    .single-project-text {
      margin: 0 auto;
      text-align: center;
    }
    
    .single-project-image {
      margin-top: 2em;
      
      img {
        width: 100%;
      }
    }
  }
}   